@model Restaurant.ViewModels.HomeModel


@{
    Layout = "_LayoutPage";
}


<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/4.png);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>about us</h3>
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="active">about us </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-area ptb-95">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="about-content pr-30">
                    <h2>@Model.SystemSetting.SystemSettingWelcomeNoteTitle </h2>
                    <h3> @Model.SystemSetting.SystemSettingWelcomeNoteBreef </h3>
                    <div class="about-peragraph">
                        <p>@Model.SystemSetting.SystemSettingWelcomeNoteDesc</p>
                        <div class="default-btn-style mt-35">
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img alt="" src="~/ImageApp/@Model.SystemSetting.SystemSettingWelcomeNoteImageUrl">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Services</h2>
            <p>We at FairFly Burger , With a Distinguished Staff, Provide Our Services To You With Full Respect, Love, And Dedication To Work</p>
        </div>
        <div class="row">
            @foreach (var item in Model.ListService)
            {
                     <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-service text-center mb-30">
                        @Html.Raw(item.MasterServicesIcon)
                    <h3>@item.MasterServicesTitle</h3>
                    <p> @item.MasterServicesDesc</p>
                </div>
            </div>
                
            }
       
         
        </div>
    </div>
</div>