@model Restaurant.ViewModels.HomeModel


@{
    Layout = "_LayoutPage";
}

<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/4.png);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>menu</h3>
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="active">menu page </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-menu-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Food Menu</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="menu-tab-wrap mb-50">
            <div class="menu-tab-list nav text-center">
                <a class="active" href="#tab1" data-bs-toggle="tab">
                    All item
                </a>
                @{
                    int o = 2;
                }
                @foreach (var item in Model.ListCategoryMenu)
                {
                    <a href="#tab@(o)" data-bs-toggle="tab">
                        @item.MasterCategoryMenuName
                    </a>
                    o++;
                }
            </div>
        </div>
        <div class="tab-content jump">

            @{
                int i = 1;

            }

            <div id="tab@(i)" class="tab-pane active">
                <div class="row">
                    @foreach (var item in Model.ListItemMenu)
                    {
                        <div class="col-lg-6">
                            <div class="single-menu-product mb-30">
                                <div class="menu-product-img">
                                    <img  alt="" src="~/ImageApp/@item.MasterItemMenuImageUrl">
                                </div>
                                <div class="menu-product-content">
                                    <div class="menu-title-price">
                                        <div  class="menu-title">
                                            <h4>
                                                @Html.ActionLink(item.MasterItemMenuTitle, "Details", new { id = item.MasterItemMenuId })
                                            </h4>
         
                                        </div>
                                        <div class="menu-price">
                                            <span>@item.MasterItemMenuPrice $</span>
                                        </div>
                                    </div>
                                    <p>@item.MasterItemMenuBreef </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @{
                i++;
            }

            @foreach (var category in Model.ListCategoryMenu)
            {
                <div id="tab@(i)" class="tab-pane">
                    <div class="row">
                        @foreach (var item in Model.ListItemMenu)
                        {
                            if (item.MasterCategoryMenuId == category.MasterCategoryMenuId)
                            {
                                <div class="col-lg-6">
                                    <div class="single-menu-product mb-30">
                                        <div class="menu-product-img">
                                            <img alt="" src="~/ImageApp/@item.MasterItemMenuImageUrl">
                                        </div>
                                        <div class="menu-product-content">
                                            <div class="menu-title-price">
                                                <div class="menu-title">
                                                    <h4>
                                                        @Html.ActionLink(item.MasterItemMenuTitle, "Details", new { id = item.MasterItemMenuId })
                                                    </h4>
                                                </div>
                                                <div class="menu-price">
                                                    <span>@item.MasterItemMenuPrice $</span>
                                                </div>
                                            </div>
                                            <p>@item.MasterItemMenuBreef</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                i++;
            }



        </div>
    </div>
</div>
<div class="brand-logo-area ptb-100">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            @foreach (var item in Model.ListPartner)
            {
                <div class="single-brand-logo">
                    <img alt="" src="~/ImageApp/@item.MasterPartnerLogoImageUrl">
                </div>
            }
        
        </div>
    </div>
</div>

