@model Restaurant.ViewModels.MasterWorkingHourModel




<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item active">Index</li>

    </ol>
</nav>
<div>
    <div class="card-body">

        <h1>MasterWorkingHour</h1>


<p>
            <a asp-action="Create" class="btn btn-primary">Create New    <i class="bi bi-plus-square">    </i></a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasterWorkingHoursIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterWorkingHoursIdTimeFormTo)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th> *@
         @*    <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th> *@
      @*       <th>
                @Html.DisplayNameFor(model => model.EditUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th> *@
                    <th>Operation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListMasterWorkingHour) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MasterWorkingHoursIdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterWorkingHoursIdTimeFormTo)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td> *@
          @*   <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
                <td hidden>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
                <td hidden>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td> *@
      @*       <td>
                @Html.DisplayFor(modelItem => item.EditUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td> *@

                        <td class="align-middle text-center">
                            <a asp-action="Edit" asp-route-id="@item.MasterWorkingHourId"><i class="bi bi-pencil-square"></i></a>

                            <a href="" class="csBtnDelete" data-bs-toggle="modal" data-bs-target="#exampleModal"
                               data-path="@Url.ActionLink("Index", "MasterWorkingHour", new { idDelete = item.MasterWorkingHourId })">
                                <i class="bi bi-trash"></i>
                            </a>
                            @if (item.IsActive)
                            {
                                <a asp-action="Active" asp-route-id="@item.MasterWorkingHourId">
                                    <i class="ri-eye-fill text-success  fa-2xl"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Active" asp-route-id="@item.MasterWorkingHourId">
                                    <i class="ri-eye-close-fill text-danger  fa-2xl"></i>
                                </a>
                            }
                        </td>

                    </tr>


                }
            </tbody>
        </table>

        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
        </button>*@


        <!-- Modal -->

    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure for delete this item ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnCansel" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var dataPath = "";
        $(".csBtnDelete").click(function () {
            dataPath = $(this).data("path");
        });
        $("#btnConfirmDelete").click(function () {
            window.location = dataPath;
            dataPath = "";

        });

        $("#btnCancel").click(function () {
            dataPath = "";
        });
    </script>
